<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-content>
        <section>
            <ion-item>
              <ion-label position="stacked">Notes</ion-label>
              <ion-textarea [(ngModel)]="note" name="note"></ion-textarea>
            </ion-item>
            <ion-button color="success" (click)="createNote()" >Tao Moi Ghi Chu</ion-button>
          <header>Default Size</header>

        </section>
      </ion-card-content>


    </ion-card>
  <ion-grid *ngFor="let note of storeAllDataNote">
    <ion-row>
      <ion-col col-8>
        <input type="text" id="{{note.id}}" value="{{note.noidung}}">
      </ion-col>
      <ion-col>
        <div><button (click)="updateNote(note.id)" >Sua</button></div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button color="warning" (click)="onClickMe(note.id)"><ion-icon name="close"></ion-icon>Delete</ion-button></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

